<a href="https://colab.research.google.com/github/GraceOby/Hamoye/blob/main/NFA_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seaborn
%matplotlib inline

In [4]:
df = pd.read_csv("/content/drive/MyDrive/HAMOYE-Internship/NFA 2019 public_data.csv")
df.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,0.140292,0.199546,0.097188051,0.036888,0.029320,0.000000,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,483000.000000,687000.000000,334600,127000.000000,100943.000800,0.000000,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,0.159804,0.135261,0.084003213,0.013742,0.033398,0.000000,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,550176.242700,465677.972200,289207.1078,47311.551720,114982.279300,0.000000,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,0.387510,0.189462,1.26E-06,0.004165,0.033398,1.114093,1.728629e+00,3A

In [5]:
df['QScore'].value_counts()

3A    51481
2A    10576
2B    10096
1A       16
1B       16
Name: QScore, dtype: int64

In [6]:
df.isna().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [7]:
#for simplicity, we will drop the rows with missing values.
df = df.dropna()
df.isna().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

In [8]:
df.QScore.value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

An obvious change in our target variable after removing the missing values is that there are only three classes left

And from the distribution of the 3 classes, we can see that there is an obvious imbalance between the classes. 

There are methods that can be applied to handle this imbalance such as oversampling and undersampling.

**Oversampling** involves increasing the number of instances in the class with fewer instances while **undersampling** involves reducing the data points in the class with more instances.

For now, we will convert this to a binary classification problem by combining class '2A' and '1A'.

In [9]:
df['QScore'] = df['QScore'].replace(['1A'], '2A')

In [10]:
df.QScore.value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [12]:
df_2A = df[df.QScore=='2A']
df_3A = df[df.QScore=='3A'].sample(350)
data_df = df_2A.append(df_3A)
data_df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,0.022585,2.998367e-02,0.000000e+00,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,917100.000000,1.217520e+06,0.000000e+00,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,0.007948,2.924496e-02,0.000000e+00,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,322736.916200,1.187524e+06,0.000000e+00,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,0.014729,2.924496e-02,1.391455e+00,2.407316e+00,2A
...,...,...,...,...,...,...,...,...,...,...,...,...
45047,Nicaragua,2014,157,EFConsTotGHA,1.444333e+06,1.382903e+06,2518556.669,184295.742900,2.572920e+05,2.681848e+06,8.469229e+06,3A
35253,Latvia,2010,119,EFConsTotGHA,1.222705e+06,2.744511e+05,3867308.723,502607.802300,8.907762e+04,3.459863e+06,9.416013e+06,3A
10982,Central African Republic,2011,37,EFProdPerCap,2.959762e-01,5.764949e-01,0.290398199,0.011945,3.546975e-02,2.215962e-02,1.232444e+00,3A
56706,Somalia,1994,201,AreaPerCap,1.384503e-01,5.669868e+00,1.051589184,0.762545,5.481906e-02,0.000000e+00,7.677272e+00,3A
70428,Belgium,1999,255,BiocapPerCap,4.029072e-01,3.833539e-02,0.305701,0.047650,1.792445e-01,0.000000e+00,9.738376e-01,3A

In [13]:
import sklearn.utils
data_df = sklearn.utils.shuffle(data_df)
data_df = data_df.reset_index(drop=True)
data_df

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Central African Republic,1999,37,EFConsTotGHA,1.242950e+06,2.466792e+06,1251178.972,2.844809e+04,1.146461e+05,1.412428e+05,5.245257e+06,3A
1,Saudi Arabia,1996,194,BiocapPerCap,1.597432e-01,1.557559e-01,0.098248112,2.683977e-01,5.009375e-02,0.000000e+00,7.322387e-01,3A
2,Equatorial Guinea,2016,61,EFConsTotGHA,2.582201e+05,3.273894e+04,202042.0339,1.099109e+05,2.745631e+04,1.661044e+06,2.291412e+06,2A
3,Niger,1986,158,AreaPerCap,1.374225e+00,3.021046e+00,0.266685483,4.215413e-03,3.937294e-02,0.000000e+00,4.705545e+00,3A
4,Cuba,1986,49,AreaTotHA,3.529959e+06,2.921041e+06,2451704.348,5.737800e+06,3.036550e+05,0.000000e+00,1.494416e+07,3A
...,...,...,...,...,...,...,...,...,...,...,...,...
585,Colombia,2012,44,EFProdPerCap,2.386221e-01,5.942000e-01,0.136703634,2.431476e-02,9.181179e-02,5.178507e-01,1.603503e+00,3A
586,Botswana,1968,20,EFConsPerCap,2.720933e-01,1.572010e+00,0.419427532,1.627427e-02,1.244364e-02,3.328629e-01,2.625112e+00,3A
587,Jordan,1962,112,EFConsTotGHA,5.885774e+05,2.413514e+05,78573.24713,4.739105e+04,4.456428e+04,4.405403e+05,1.440998e+06,3A
588,Hungary,2016,97,BiocapTotGHA,1.497653e+07,6.165292e+05,6860071.071,4.741962e+04,1.559617e+06,0.000000e+00,2.406017e+07,2A
589,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,9.171000e+05,1.217520e+06,0.000000e+00,4.545842e+07,2A

In [14]:
data_df.shape

(590, 12)

In [15]:
data_df.QScore.value_counts()

3A    350
2A    240
Name: QScore, dtype: int64

In [16]:
#more preprocessing
data_df = data_df.drop(columns=['country_code', 'country', 'year'])
X = data_df.drop(columns='QScore')
y = data_df['QScore']

In [17]:
#split the data into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [18]:
y_train.value_counts()

3A    244
2A    169
Name: QScore, dtype: int64

There is still an imbalance in the class distribution. For this, we use SMOTE only on the training data to handle this.

In [19]:
#encode categorical variable
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train.record = encoder.fit_transform(x_train.record)
x_test.record = encoder.transform(x_test.record)

In [21]:
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=1)
x_train_balanced, y_balanced = smote.fit_resample(x_train, y_train)

In [22]:
y_balanced.value_counts()

3A    244
2A    244
Name: QScore, dtype: int64

In [24]:
x_train.shape, x_train_balanced.shape

((413, 8), (488, 8))

In [25]:
#Next we scale
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_train_df = scaler.fit_transform(x_train_balanced.drop(columns=['record']))
normalised_train_df = pd.DataFrame(normalised_train_df, columns=x_train_balanced.drop(columns=['record']).columns)
normalised_train_df['record'] = x_train_balanced['record']

In [26]:
x_test = x_test.reset_index(drop=True)
normalised_test_df = scaler.transform(x_test.drop(columns=['record']))
normalised_test_df = pd.DataFrame(normalised_test_df, columns=x_test.drop(columns=['record']).columns)
normalised_test_df['record'] = x_test['record']

In [27]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(normalised_train_df, y_balanced)

LogisticRegression()